@model BookStore.Models.Book
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit</h1>
<p style="color: red">@ViewBag.Err </p>
<form class="form-horizontal" method="post" action="~/Admin/Home/Edit" enctype="multipart/form-data">
    <input type="hidden" name="id" value="@Model.BookId" />
    <div class="form-group">
        <label class="control-label col-sm-2" for="BookName">BookName:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="BookName" placeholder="Enter BookName" value="@Model.BookName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Description">Description:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Description" placeholder="Enter Description" value="@Model.Description">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="DateTime">DateTime:</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" name="DateTime" value="@Model.DateTime">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Price">Price:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Price" placeholder="Enter Price" value="@Model.Price">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Quantity">Quantity:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="Quantity" placeholder="Enter Quantity" value="@Model.Quantity">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Image">Image:</label>
        <div class="col-sm-10">
            <input type="file" class="form-control" name="Image" value="@Model.Image">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Author">Category:</label>
        <div class="col-sm-10">
            <select name="CategoryId" class="form-control">
                @foreach (var item in ViewBag.Cate)
                {
                    <option value="@item.CategoryId">@item.CategoryName</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Description">Author:</label>
        <div class="col-sm-10">
            <select name="AuthorId" class="form-control">
                @foreach (var item in ViewBag.Author)
                {
                    <option value="@item.AuthorId">@item.AuthorName</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>

