@model IEnumerable<BookStore.Models.Cart>
@{
    ViewData["Title"] = "ListCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>BookName</th>
            <th>Image</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>TotalPrice</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookName</td>
                <td><img src="@Url.Content("~/img/" + item.Image)" alt="" width="100" height="80" /></td>      
                <td>@item.Book.Price</td>
                <td>@item.Quantity</td>
                <td>@item.TotalPrice</td>
                <td>
                    <a href="~/Cart/Delete?Id=@item.BookId">Delete</a> |
                </td>
            </tr>           
        }       
            <tr>
                <td><a href="~/Category/ListCategory">Next Buy</a></td>
                <td></td>
                <th>IntoMoney:</th>
                <td>@ViewBag.TotalQuantity</td>
                <td>@ViewBag.TotalPrice VNĐ</td>
                <td><a href="~/Order/OrderInfo">Pay</a></td>
            </tr>    
    </tbody>
</table>  